extends ../partials/layout

block content
  h1= title
  
  table
    thead
      tr
        th Book title
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
        
    tbody
      if loans.length > 0
        each loan in loans
          tr
            td
              a(href='/books/details/' + loan.Book.id)= loan.Book.title
            td
              a(href='/patrons/details/' + loan.Patron.id)= loan.Patron.first_name + ' ' + loan.Patron.last_name
            td= loan.loaned_on
            td= loan.return_by
            if loan.returned_on !== null
              td= loan.returned_on
            else
              td Not returned yet
      else
        tr
          td No records found.
