extends ../partials/layout

block content
  h1= title
  
  p
    a.button(href='/loans/new') Create New Loan
    
  p= 'Filters: '
    a(href='/loans') All
    |   |
    a(href='/loans/overdue')   Overdue
    |   |
    a(href='/loans/checked')   Checked Out
  
  table
    thead
      tr
        th Book title
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
        
    tbody
      if loans.length > 0
        each loan in loans
          tr
            td
              a(href='/books/details/' + loan.Book.id)= loan.Book.title
            td
              a(href='/patrons/details/' + loan.Patron.id)= loan.Patron.first_name + ' ' + loan.Patron.last_name
            td= loan.loaned_on
            td= loan.return_by
            if loan.returned_on !== null
              td= moment(loan.returned_on).format('YYYY-MM-DD')
            else
              td
            td
              unless loan.returned_on
                a.button(href='/loans/return/' + loan.id) Return Book
      else
        tr
          td No records found.
