extends ../partials/layout

block content
  h1= title
  
  p Book Title: 
    strong= loan.Book.title

  p Loaned By:
    strong= loan.Patron.name
    
  p Loaned On:
    strong= loan.loaned_on
    
  p Return By:
    strong= loan.return_by
